  <!-- コメントエリア -->
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <table class="table">
        <tbody id="table-comment">
          <!-- 表示されているコメントのIDが入るように調整してください -->
          <% comments.each do |comment|%>
          <tr id=<%="comment-#{comment.id}"%>>
            <td style="width: 60px">
              <!-- image_tagを使う形に修正してください -->
              <%=image_tag 'sample.jpg', class: 'rounded-circle', width: '50', height: '50'%>
            </td>
            <td>
              <h3 class="small"><%= comment.user.decorate.full_name%></h3>
              <p><%= simple_format comment.body %></p>
            </td>

            <td class="action">
            <% if current_user.id == comment.user_id%>
              <ul class="list-inline justify-content-center" style="float: right;">
                <li class="list-inline-item">
                  <!-- ここからlink_toを使う形に修正してください -->
                <%= link_to '#',id:"edit-comment-link"  do%>
                  <i class='bi bi-pencil-fill'></i>
                <% end %>
                  <!-- ここまでlink_toを使う形に修正してください -->
                </li>
                <li class="list-inline-item">
                  <!-- ここからlink_toを使う形に修正してください -->
                <%= link_to '#',id:"delete-comment-link"  do%>
                  <i class='bi bi-pencil-fill'></i>
                <% end %>
                  <!-- ここまでlink_toを使う形に修正してください -->
                </li>
              </ul>
            </td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>